@tailwind base;
@tailwind components;
@tailwind utilities;

.background-gradient {
	background-color: theme("colors.base-100");
	background-image: radial-gradient(
			at 10% 90%,
			rgb(245, 245, 245) 0,
			transparent 54%
		),
		radial-gradient(at 1% 14%, theme("colors.primary") 0, transparent 85%),
		radial-gradient(at 39% 87%, theme("colors.base-300") 0, transparent 48%),
		radial-gradient(at 25% 24%, theme("colors.base-100") 0, transparent 91%),
		radial-gradient(at 98% 23%, theme("colors.base-200") 0, transparent 65%),
		radial-gradient(
			at 83% 88%,
			theme("colors.secondary") 0,
			transparent 57%
		);
}

::-webkit-scrollbar {
	@apply rounded-box w-1;
	/* Customize the scrollbar width */
}

::-webkit-scrollbar-track {
	@apply bg-base-100 rounded-box;
	/* Customize the scrollbar track */
}

::-webkit-scrollbar-thumb {
	@apply bg-base-300 rounded-box;
	/* Customize the scrollbar thumb */
}

// Just a fun custom theme
[data-theme="brutal"] {
	@apply selection:bg-base-300;

	.btn:not(.btn-ghost) {
		@apply -translate-x-[2px] -translate-y-[2px] border border-black shadow-[2px_2px_0px_rgba(0,0,0,1)] hover:translate-x-0 hover:translate-y-0 hover:shadow-none;

		&.btn-active {
			@apply -translate-x-[0px] -translate-y-[0px] border border-black shadow-none;
		}
	}

	.menu {
		@apply shadow-[2px_2px_0px_rgba(0,0,0,1)];
	}

	.main-bg {
		@apply bg-base-300;
		/* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"); */
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%237fbc8c' fill-opacity='0.4'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	}

	.main-container {
		@apply shadow-[2px_2px_0px_rgba(0,0,0,1)];
	}

	.modal-box {
		@apply shadow-[2px_2px_0px_rgba(0,0,0,1)];
	}

	.input {
		&:focus {
			@apply shadow-none;
		}
		@apply -translate-x-[2px] -translate-y-[2px] border-black shadow-[2px_2px_0px_rgba(0,0,0,1)] transition-all hover:translate-x-0 hover:translate-y-0 hover:shadow-none;
	}

	.toggle {
		@apply -translate-x-[2px] -translate-y-[2px] border border-black transition-all;

		--tglbg: hsl(var(--a));
		box-shadow: var(--handleoffsetcalculator) 0 0 2px var(--tglbg) inset,
			0 0 0 2px var(--tglbg) inset, var(--togglehandleborder),
			2px 2px 0px rgba(0, 0, 0, 1);
		&:hover {
			@apply translate-x-0 translate-y-0;
			box-shadow: var(--handleoffsetcalculator) 0 0 2px var(--tglbg) inset,
				0 0 0 2px var(--tglbg) inset, var(--togglehandleborder);
		}

		&-primary {
			&:focus-visible {
			}
			&:checked,
			&[checked="true"],
			&[aria-checked="true"] {
				@apply border-black;
				@apply bg-primary text-primary-content border-black border-opacity-10;
			}
		}
	}

	.join {
		@apply -translate-x-[2px] -translate-y-[2px] border-black shadow-[2px_2px_0px_rgba(0,0,0,1)] transition-all;
	}

	.autocomplete-menu {
		@apply -translate-x-[2px] -translate-y-[2px] border-black shadow-[2px_2px_0px_rgba(0,0,0,1)] transition-all;
	}

	.placeholder {
		@apply -translate-x-[2px] -translate-y-[2px] border-black shadow-[2px_2px_0px_rgba(0,0,0,1)] transition-all hover:translate-x-0 hover:translate-y-0 hover:shadow-none;
	}
}

.ProseMirror {
	@apply rounded-box px-12 py-12;
	height: 100%;
	width: 100%;
	overflow-y: auto;

	// Hack so static view empty <p>s look like edit view
	// https://github.com/ueberdosis/tiptap/issues/412
	p:empty::after {
		content: "\00A0";
	}

	&:focus-visible {
		outline: none;
	}

	a {
		@apply text-base-content cursor-pointer underline;
	}

	> * + * {
		/* margin-top: 0.75em; */
	}

	hr {
		@apply border-neutral;
	}

	p.is-empty::before {
		@apply text-base-content opacity-50;
		content: attr(data-placeholder);
		float: left;
		height: 0;
		pointer-events: none;
	}

	ul[data-type="taskList"] {
		@apply list-none;
		li {
			label {
				@apply mr-2 inline;
				input {
					@apply checkbox-primary checkbox checkbox-xs mt-1;

					/* cursor: not-allowed;
					border-color: transparent;
					--tw-bg-opacity: 1;
					background-color: hsl(var(--bc) / var(--tw-bg-opacity));
					opacity: 0.2; */

					&:disabled {
						@apply border-primary cursor-default bg-inherit opacity-100;
					}
				}
			}

			div {
				@apply inline align-top;
			}
		}
	}

	ul,
	ol {
		ul,
		ol {
			@apply px-4;
		}
	}

	ul {
		@apply list-inside list-disc;
		p {
			@apply inline;
		}
	}
	ol {
		@apply list-inside list-decimal;
		p {
			@apply inline;
		}
	}

	h1 {
		@apply text-5xl font-bold;
	}

	h2 {
		@apply text-4xl font-bold;
	}

	h3 {
		@apply text-3xl font-bold;
	}

	h4 {
		@apply text-2xl font-bold;
	}

	h5 {
		@apply text-xl font-bold;
	}

	h6 {
		@apply text-lg font-bold;
	}

	:not(pre) > code {
		@apply border-base-content bg-base-300 text-base-content rounded-sm border border-opacity-20 px-1 font-mono;
	}

	pre {
		@apply border-base-content bg-base-300 text-base-content w-full rounded-sm border border-opacity-20 p-2 font-mono;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	hr {
		margin: 1rem 0;
	}

	blockquote {
		@apply border-accent bg-accent rounded-sm border-l-4  bg-opacity-20 p-4;
	}

	table {
		@apply table;
	}

	figure {
		margin: 0;

		img {
			@apply inline-block h-auto max-w-full border border-transparent;
		}

		&.ProseMirror-selectednode {
			img {
				@apply border-primary border;
			}
		}
	}
}
