@tailwind base;
@tailwind components;
@tailwind utilities;

.background-gradient {
	background-color: theme("colors.base-100");
	background-image: radial-gradient(
			at 10% 90%,
			rgb(245, 245, 245) 0,
			transparent 54%
		),
		radial-gradient(at 1% 14%, theme("colors.primary") 0, transparent 85%),
		radial-gradient(at 39% 87%, theme("colors.base-300") 0, transparent 48%),
		radial-gradient(at 25% 24%, theme("colors.base-100") 0, transparent 91%),
		radial-gradient(at 98% 23%, theme("colors.base-200") 0, transparent 65%),
		radial-gradient(
			at 83% 88%,
			theme("colors.secondary") 0,
			transparent 57%
		);
}

.ProseMirror {
	@apply rounded-box px-12 py-12;
	height: 100%;
	width: 100%;
	overflow-y: auto;

	// Hack so static view empty <p>s look like edit view
	// https://github.com/ueberdosis/tiptap/issues/412
	p:empty::after {
		content: "\00A0";
	}

	&:focus-visible {
		outline: none;
	}

	a {
		@apply text-base-content cursor-pointer underline;
	}

	> * + * {
		margin-top: 0.75em;
	}

	hr {
		@apply border-neutral;
	}

	p.is-empty::before {
		@apply text-base-content opacity-50;
		content: attr(data-placeholder);
		float: left;
		height: 0;
		pointer-events: none;
	}

	ul[data-type="taskList"] {
		@apply list-none;
		li {
			label {
				@apply mr-2 inline;
				input {
					@apply checkbox-primary checkbox checkbox-xs mt-1;

					/* cursor: not-allowed;
					border-color: transparent;
					--tw-bg-opacity: 1;
					background-color: hsl(var(--bc) / var(--tw-bg-opacity));
					opacity: 0.2; */

					&:disabled {
						@apply border-primary cursor-default bg-inherit opacity-100;
					}
				}
			}

			div {
				@apply inline align-top;
			}
		}
	}

	ul,
	ol {
		ul,
		ol {
			@apply px-4;
		}
	}

	ul {
		@apply list-inside list-disc;
		p {
			@apply inline;
		}
	}
	ol {
		@apply list-inside list-decimal;
		p {
			@apply inline;
		}
	}

	h1 {
		@apply text-5xl font-bold;
	}

	h2 {
		@apply text-4xl font-bold;
	}

	h3 {
		@apply text-3xl font-bold;
	}

	h4 {
		@apply text-2xl font-bold;
	}

	h5 {
		@apply text-xl font-bold;
	}

	h6 {
		@apply text-lg font-bold;
	}

	:not(pre) > code {
		@apply border-base-content bg-base-300 text-base-content rounded-sm border border-opacity-20 px-1 font-mono;
	}

	pre {
		@apply border-base-content bg-base-300 text-base-content w-full rounded-sm border border-opacity-20 p-2 font-mono;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	hr {
		margin: 1rem 0;
	}

	blockquote {
		@apply border-accent bg-accent rounded-sm border-l-4  bg-opacity-20 p-4;
	}

	table {
		@apply table;
	}
}
