@tailwind base;
@tailwind components;
@tailwind utilities;

.remirror-theme .remirror-editor-wrapper {
	width: 100%;
	height: 100%;
}

.background-gradient {
	background-color: theme("colors.base-100");
	background-image: radial-gradient(
			at 10% 90%,
			rgb(245, 245, 245) 0,
			transparent 54%
		),
		radial-gradient(at 1% 14%, theme("colors.primary") 0, transparent 85%),
		radial-gradient(at 39% 87%, theme("colors.base-300") 0, transparent 48%),
		radial-gradient(at 25% 24%, theme("colors.base-100") 0, transparent 91%),
		radial-gradient(at 98% 23%, theme("colors.base-200") 0, transparent 65%),
		radial-gradient(
			at 83% 88%,
			theme("colors.secondary") 0,
			transparent 57%
		);
}

/**
 * Styles extracted from: packages/remirror__theme/src/components-theme.ts
 */
.remirror-editor ul {
	list-style: disc inside;
}

/* Second level <ul> (nested inside a <li> of the first level <ul>) */
.remirror-editor ul li ul {
	list-style-type: circle;
}

/* Third level <ul> (nested inside a <li> of the second level <ul>) */
.remirror-editor ul li ul li ul {
	list-style-type: square;
}

.remirror-editor ul p {
	display: inline;
}

.remirror-editor ul > li {
	margin-left: 1rem;
}

.remirror-editor ol {
	list-style: decimal inside;
}

.remirror-editor ol p {
	display: inline;
}

.remirror-editor ol > li {
	margin-left: 1rem;
}

.remirror-editor h1 {
	@apply text-5xl font-bold;
}

.remirror-editor h2 {
	@apply text-4xl font-bold;
}

.remirror-editor h3 {
	@apply text-3xl font-bold;
}

.remirror-editor h4 {
	@apply text-2xl font-bold;
}

.remirror-editor h5 {
	@apply text-xl font-bold;
}

.remirror-editor h6 {
	@apply text-lg font-bold;
}

.remirror-editor-wrapper {
	height: 100%;
}

.remirror-editor :not(pre) > code {
	@apply rounded-sm border border-base-content border-opacity-20 bg-base-300 px-1 font-mono text-base-content;
}

.remirror-editor pre {
	@apply bg-base-300 !important;
	@apply w-full rounded-sm border border-base-content border-opacity-20 px-1 font-mono text-base-content;
}

.remirror-editor pre > code {
	@apply font-mono text-base-content;
}

.remirror-editor blockquote {
	@apply rounded-sm border border-base-content border-opacity-20;
}
